bin/
.classpath
.project
.class
.log
# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
project/boot/
project/plugins/project/
# Scala-IDE specific
.scala_dependencies
.worksheet
.settings/
lib/
src/main/resources/core-site.xml


